<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <header>
      <a href="#" class="header__logo">BAKE</a>
      <nav class="header__nav">
        <ul>
          <li class="header__home"><a href="#">HOME</a></li>
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">SERVICE</a></li>
          <li><a href="#">GALLERY</a></li>
          <li><a href="#">CLIENTS</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>
      </nav>
    </header>

    <section id="carousel">
      <div class="carousel__bestseller">
        <h1>best bake here</h1>
        <p>Donec at massa nec sem eleifend fermentum.</p>
        <button>Learn more</button>
      </div>
    </section>

    <section id="intro">
      <div class="intro-item intro-traditional">
        <div>
          <h2>Tradition</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, in
            minima voluptatem sed, excepturi rem quidem itaque aperiam.
          </p>
        </div>
      </div>

      <div class="intro-item intro-img-1">
        <img src="./images/ab1.jpg" />
      </div>

      <div class="intro-item intro-creattivity">
        <div>
          <h2>Creativity</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, in
            minima voluptatem sed, excepturi rem quidem itaque aperiam.
          </p>
        </div>
      </div>

      <!-- row 2 -->
      <div class="intro-item intro-best">
        <div>
          <h2>What Best For You</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, in
            minima voluptatem sed, excepturi rem quidem itaque aperiam.
          </p>
        </div>
      </div>

      <div class="intro-item intro-img-2">
        <img src="./images/ab2.jpg" />
      </div>

      <div class="intro-item intro-quality">
        <div>
          <h2>Quality</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, in
            minima voluptatem sed, excepturi rem quidem itaque aperiam.
          </p>
        </div>
      </div>

      <!-- row 3 -->
      <div class="intro-item intro-img-3">
        <img src="./images/ab3.jpg" />
      </div>

      <div class="intro-item intro-tasty">
        <div>
          <h2>Tasty Cakes</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, in
            minima voluptatem sed, excepturi rem quidem itaque aperiam.
          </p>
        </div>
      </div>

      <div class="intro-item intro-img-4">
        <img src="./images/ab4.jpg" />
      </div>
    </section>

    <section id="count">
      <div>
        <p class="counter">450</p>
        <h1>Coffee</h1>
      </div>
      <div>
        <p class="counter">58</p>
        <h1>Happy Clients</h1>
      </div>
      <div>
        <p class="counter">1</p>
        <h1>Experience</h1>
      </div>
      <div>
        <p class="counter">126</p>
        <h1>Expert Worker</h1>
      </div>
    </section>

    <section id="service">
      <h1>OUR SERVICE</h1>
      <div class="service-content">
        <div class="service-item">
          <div>
            <div class="item-img">
              <img src="./images/to-top.png" />
            </div>
            <h2>
              TASTY
            </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
              perspiciatis accusantium architecto repellat dolorum voluptatum
              tempore distinctio, ad unde, in neque.
            </p>
            <button>Learn more</button>
          </div>
        </div>
        <div class="service-item">
          <div>
            <div class="item-img">
              <img src="./images/to-top.png" />
            </div>
            <h2>
              TASTY
            </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
              perspiciatis accusantium architecto repellat dolorum voluptatum
              tempore distinctio, ad unde, in neque.
            </p>
            <button>Learn more</button>
          </div>
        </div>
        <div class="service-item">
          <div>
            <div class="item-img">
              <img src="./images/to-top.png" />
            </div>
            <h2>
              TASTY
            </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
              perspiciatis accusantium architecto repellat dolorum voluptatum
              tempore distinctio, ad unde, in neque.
            </p>
            <button>Learn more</button>
          </div>
        </div>
        <div class="service-item">
          <div>
            <div class="item-img">
              <img src="./images/to-top.png" />
            </div>
            <h2>
              TASTY
            </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
              perspiciatis accusantium architecto repellat dolorum voluptatum
              tempore distinctio, ad unde, in neque.
            </p>
            <button>Learn more</button>
          </div>
        </div>
      </div>
    </section>

    <section id="gallery">
        <h1>OUR GALLERY</h1>
      <div class="gallery-content">
        <div class="gallery-item g1">
          <img src="./images/g1.jpg" />
         <div class="g-text">
            <h3>OUR GALLERY</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              et.
            </p>
         </div>
        </div>
      </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
    <script src="./js/jquery.countup.min.js"></script>

    <script>
      $(document).ready(function () {
        $(".counter").countUp();
      });
    </script>
  </body>
</html>
