* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *:focus {
    outline: none; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px; }

p {
  margin: 0 !important; }

.title-section {
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
  text-transform: capitalize;
  font-size: 3rem; }
  @media (max-width: 479px) {
    .title-section {
      font-size: 1rem; } }
  @media (min-width: 479px) and (max-width: 768px) {
    .title-section {
      font-size: 1rem; } }
  @media (min-width: 768px) and (max-width: 1600px) {
    .title-section {
      font-size: 2rem; } }

.course-btn {
  cursor: pointer;
  border: none;
  padding: 20px 50px;
  transition: 0.5s all ease-in-out;
  border-radius: 50px;
  color: white;
  font-weight: bolder;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 30px 10px;
  background-image: linear-gradient(to right, #dc5874, #b51659); }
  @media (min-width: 768px) and (max-width: 1600px) {
    .course-btn {
      font-weight: normal;
      margin: 20px 5px;
      padding: 5px 5px;
      font-size: 1rem; } }
  @media (max-width: 479px) {
    .course-btn {
      font-weight: normal;
      margin: 10px 0px;
      padding: 5px 5px;
      font-size: 0.5rem; } }
  @media (min-width: 479px) and (max-width: 768px) {
    .course-btn {
      font-weight: normal;
      margin: 10px 0px;
      padding: 5px 5px;
      font-size: 0.5rem; } }
  .course-btn:hover {
    padding: 21px 51px;
    box-shadow: 0 20px 20px -15px rgba(48, 37, 20, 0.7);
    background-image: linear-gradient(to right, #e68f9b, #dc5874);
    color: #230d0d; }
    @media (min-width: 768px) and (max-width: 1600px) {
      .course-btn:hover {
        padding: 7px 7px; } }
    @media (max-width: 479px) {
      .course-btn:hover {
        padding: 6px 6px; } }
    @media (min-width: 479px) and (max-width: 768px) {
      .course-btn:hover {
        padding: 6px 6px; } }
  .course-btn:focus {
    outline: none; }

.course-btn {
  cursor: pointer;
  border: none;
  padding: 20px 50px;
  transition: 0.5s all ease-in-out;
  border-radius: 50px;
  color: white;
  font-weight: bolder;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 30px 10px;
  background-image: linear-gradient(to right, #dc5874, #b51659); }
  @media (min-width: 768px) and (max-width: 1600px) {
    .course-btn {
      font-weight: normal;
      margin: 20px 5px;
      padding: 5px 5px;
      font-size: 1rem; } }
  @media (max-width: 479px) {
    .course-btn {
      font-weight: normal;
      margin: 10px 0px;
      padding: 5px 5px;
      font-size: 0.5rem; } }
  @media (min-width: 479px) and (max-width: 768px) {
    .course-btn {
      font-weight: normal;
      margin: 10px 0px;
      padding: 5px 5px;
      font-size: 0.5rem; } }
  .course-btn:hover {
    padding: 21px 51px;
    box-shadow: 0 20px 20px -15px rgba(48, 37, 20, 0.7);
    background-image: linear-gradient(to right, #e68f9b, #dc5874);
    color: #230d0d; }
    @media (min-width: 768px) and (max-width: 1600px) {
      .course-btn:hover {
        padding: 7px 7px; } }
    @media (max-width: 479px) {
      .course-btn:hover {
        padding: 6px 6px; } }
    @media (min-width: 479px) and (max-width: 768px) {
      .course-btn:hover {
        padding: 6px 6px; } }
  .course-btn:focus {
    outline: none; }

.header-text {
  color: #fa6190;
  background-color: rgba(48, 37, 20, 0.7);
  height: fit-content; }
  .header-text .container {
    padding: 30px 0; }
  .header-text .menu-logo {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header-text .menu-logo .navbar {
      display: flex;
      align-items: center; }
      @media (min-width: 768px) and (max-width: 1600px) {
        .header-text .menu-logo .navbar {
          font-size: 1.6rem;
          font-weight: bold; } }
      @media (max-width: 479px) {
        .header-text .menu-logo .navbar {
          font-weight: bold;
          font-size: 1.1rem; } }
      @media (min-width: 479px) and (max-width: 768px) {
        .header-text .menu-logo .navbar {
          font-weight: bold;
          font-size: 1.1rem; } }
    .header-text .menu-logo .navbar-light .navbar-nav .nav-item {
      position: relative;
      margin-right: 20px; }
      @media (min-width: 768px) and (max-width: 1600px) {
        .header-text .menu-logo .navbar-light .navbar-nav .nav-item .dropdown-menu {
          font-size: 1rem;
          font-weight: bold; } }
      @media (max-width: 479px) {
        .header-text .menu-logo .navbar-light .navbar-nav .nav-item .dropdown-menu {
          font-weight: bold;
          font-size: 0.5rem; } }
      @media (min-width: 479px) and (max-width: 768px) {
        .header-text .menu-logo .navbar-light .navbar-nav .nav-item .dropdown-menu {
          font-weight: bold;
          font-size: 0.5rem; } }
      .header-text .menu-logo .navbar-light .navbar-nav .nav-item.active::before {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #ff4f81;
        bottom: 0;
        left: 0;
        transition: 0.5s;
        position: absolute; }
      .header-text .menu-logo .navbar-light .navbar-nav .nav-item .nav-link {
        color: #f0c3c0;
        font-size: 1.3rem;
        font-weight: bold;
        position: relative; }
        @media (min-width: 768px) and (max-width: 1600px) {
          .header-text .menu-logo .navbar-light .navbar-nav .nav-item .nav-link {
            font-size: 1rem;
            font-weight: bold; } }
        @media (max-width: 479px) {
          .header-text .menu-logo .navbar-light .navbar-nav .nav-item .nav-link {
            font-weight: bold;
            font-size: 0.5rem; } }
        @media (min-width: 479px) and (max-width: 768px) {
          .header-text .menu-logo .navbar-light .navbar-nav .nav-item .nav-link {
            font-weight: bold;
            font-size: 0.5rem; } }
        .header-text .menu-logo .navbar-light .navbar-nav .nav-item .nav-link:hover {
          transition: 1s;
          color: #ff4f81; }
          .header-text .menu-logo .navbar-light .navbar-nav .nav-item .nav-link:hover::before {
            content: "";
            width: 100%;
            height: 2px;
            background-color: #ff4f81;
            position: absolute;
            bottom: 0;
            left: -1;
            left: 0;
            transition: 0.5s; }
        .header-text .menu-logo .navbar-light .navbar-nav .nav-item .nav-link::before {
          content: "";
          width: 0%;
          height: 2px;
          background-color: #ff4f81;
          bottom: 0;
          left: -1;
          left: 0;
          transition: 0.5s; }
    .header-text .menu-logo .menu {
      padding: 5px 20px; }
      .header-text .menu-logo .menu .logo {
        text-decoration: none;
        color: #ff4f81; }
        .header-text .menu-logo .menu .logo .fa.fa-book {
          font-size: 2rem; }
      .header-text .menu-logo .menu .menu-text-logo {
        display: inline-flex;
        /* text-align: center; */
        align-items: center;
        flex-flow: column;
        font-family: "Wallpoet", cursive;
        font-size: 3rem; }
        @media (min-width: 768px) and (max-width: 1600px) {
          .header-text .menu-logo .menu .menu-text-logo {
            font-size: 1.6rem;
            font-weight: bold; } }
        @media (max-width: 479px) {
          .header-text .menu-logo .menu .menu-text-logo {
            font-weight: bold;
            font-size: 1.2rem; } }
        @media (min-width: 479px) and (max-width: 768px) {
          .header-text .menu-logo .menu .menu-text-logo {
            font-weight: bold;
            font-size: 1.2rem; } }
        .header-text .menu-logo .menu .menu-text-logo h1 {
          font-size: 3rem;
          font-weight: bolder;
          color: #ff4f81; }
          @media (min-width: 768px) and (max-width: 1600px) {
            .header-text .menu-logo .menu .menu-text-logo h1 {
              font-size: 1.5rem;
              font-weight: bold; } }
          @media (max-width: 479px) {
            .header-text .menu-logo .menu .menu-text-logo h1 {
              font-weight: bold;
              font-size: 1rem; } }
          @media (min-width: 479px) and (max-width: 768px) {
            .header-text .menu-logo .menu .menu-text-logo h1 {
              font-weight: bold;
              font-size: 1rem; } }
        .header-text .menu-logo .menu .menu-text-logo h4 {
          font-size: 3rem;
          color: white;
          font-weight: bold; }
          @media (min-width: 768px) and (max-width: 1600px) {
            .header-text .menu-logo .menu .menu-text-logo h4 {
              font-size: 1.6rem;
              font-weight: bold; } }
          @media (max-width: 479px) {
            .header-text .menu-logo .menu .menu-text-logo h4 {
              font-weight: bold;
              font-size: 1.2rem; } }
          @media (min-width: 479px) and (max-width: 768px) {
            .header-text .menu-logo .menu .menu-text-logo h4 {
              font-weight: bold;
              font-size: 1.2rem; } }

.header {
  color: #fa6190;
  background-image: url("/images/banner.jpg");
  height: 800px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .header .content-slogan {
    margin-left: auto;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    color: #b51659;
    height: 100%; }
    .header .content-slogan h1 {
      font-weight: 1000;
      font-size: 90px;
      font-family: "Wallpoet", cursive; }
      @media (min-width: 768px) and (max-width: 1600px) {
        .header .content-slogan h1 {
          font-size: 5rem;
          font-weight: bold; } }
      @media (max-width: 479px) {
        .header .content-slogan h1 {
          font-weight: bold;
          font-size: 3rem; } }
      @media (min-width: 479px) and (max-width: 768px) {
        .header .content-slogan h1 {
          font-weight: bold;
          font-size: 3rem; } }
  @media (min-width: 768px) and (max-width: 1600px) {
    .header {
      height: 700px; } }
  @media (max-width: 479px) {
    .header {
      height: 500px; } }
  @media (min-width: 479px) and (max-width: 768px) {
    .header {
      height: 500px; } }

#stats {
  margin: 100px auto;
  text-align: center;
  background-color: #dc5874;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 400px; }
  @media (min-width: 768px) and (max-width: 1600px) {
    #stats {
      height: 300px;
      margin: 50px auto; } }
  @media (max-width: 479px) {
    #stats {
      height: 160px;
      margin: 30px auto; } }
  @media (min-width: 479px) and (max-width: 768px) {
    #stats {
      height: 160px;
      margin: 30px auto; } }
  #stats .stats-list {
    display: flex;
    width: 80%;
    margin: 30px auto;
    justify-content: center; }
    @media (min-width: 768px) and (max-width: 1600px) {
      #stats .stats-list {
        margin: 20px auto; } }
    @media (max-width: 479px) {
      #stats .stats-list {
        margin: 10px auto; } }
    @media (min-width: 479px) and (max-width: 768px) {
      #stats .stats-list {
        margin: 10px auto; } }
    #stats .stats-list .stats-item {
      display: flex;
      flex-flow: column;
      justify-content: center;
      margin: 10px 85px;
      color: #230d0d;
      border: 2px solid white;
      padding: 15px;
      height: 200px;
      border-radius: 50%;
      background-color: white;
      color: #b51659;
      width: 200px; }
      @media (min-width: 768px) and (max-width: 1600px) {
        #stats .stats-list .stats-item {
          width: 100px;
          height: 100px;
          margin: 0 20px;
          padding: 5px; } }
      @media (max-width: 479px) {
        #stats .stats-list .stats-item {
          width: 50px;
          height: 50px;
          margin: 0 10px;
          padding: 0; } }
      @media (min-width: 479px) and (max-width: 768px) {
        #stats .stats-list .stats-item {
          width: 50px;
          height: 50px;
          margin: 0 10px;
          padding: 0; } }
      #stats .stats-list .stats-item .counter {
        font-size: 3rem; }
        @media (max-width: 479px) {
          #stats .stats-list .stats-item .counter {
            font-size: 0.6rem; } }
        @media (min-width: 479px) and (max-width: 768px) {
          #stats .stats-list .stats-item .counter {
            font-size: 0.6rem; } }
        @media (min-width: 768px) and (max-width: 1600px) {
          #stats .stats-list .stats-item .counter {
            font-size: 1rem; } }
      #stats .stats-list .stats-item .stats-value {
        font-size: 1.5rem; }
        @media (max-width: 479px) {
          #stats .stats-list .stats-item .stats-value {
            font-size: 0.5rem; } }
        @media (min-width: 479px) and (max-width: 768px) {
          #stats .stats-list .stats-item .stats-value {
            font-size: 0.5rem; } }
        @media (min-width: 768px) and (max-width: 1600px) {
          #stats .stats-list .stats-item .stats-value {
            font-size: 1rem; } }

.feedback .list-feedbacks .feedback-item {
  margin: 70px 0;
  display: flex;
  align-items: center; }
  @media (max-width: 479px) {
    .feedback .list-feedbacks .feedback-item {
      margin: 30px 0; } }
  @media (min-width: 479px) and (max-width: 768px) {
    .feedback .list-feedbacks .feedback-item {
      margin: 30px 0; } }
  @media (min-width: 768px) and (max-width: 1600px) {
    .feedback .list-feedbacks .feedback-item {
      margin: 50px 0; } }
  .feedback .list-feedbacks .feedback-item.right {
    transform: rotate(180deg); }
  .feedback .list-feedbacks .feedback-item .item-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: -webkit-match-parent;
    width: 350px;
    height: fit-content;
    padding: 15px;
    border: 3px solid #230d0d;
    border-radius: 20px;
    background-color: #230d0d;
    color: #f0c3c0;
    font-weight: 500;
    letter-spacing: 1.3px;
    box-shadow: 0 20px 20px -15px rgba(48, 37, 20, 0.7); }
    .feedback .list-feedbacks .feedback-item .item-text.right {
      transform: rotate(180deg); }
  .feedback .list-feedbacks .feedback-item .item-shape .line {
    width: 300px;
    height: 3px;
    background-color: #230d0d;
    position: relative; }
    @media (max-width: 479px) {
      .feedback .list-feedbacks .feedback-item .item-shape .line {
        width: 100px; } }
    @media (min-width: 479px) and (max-width: 768px) {
      .feedback .list-feedbacks .feedback-item .item-shape .line {
        width: 100px; } }
    @media (min-width: 768px) and (max-width: 1600px) {
      .feedback .list-feedbacks .feedback-item .item-shape .line {
        width: 200px; } }
    .feedback .list-feedbacks .feedback-item .item-shape .line::after {
      content: "";
      width: 50px;
      height: 50px;
      border: 1px solid #dc5874;
      border-radius: 50%;
      position: absolute;
      /* bottom: 1px; */
      transform: translate(1px, -50%);
      right: 0;
      background-color: #dc5874; }
      @media (max-width: 479px) {
        .feedback .list-feedbacks .feedback-item .item-shape .line::after {
          width: 30px;
          height: 30px; } }
      @media (min-width: 479px) and (max-width: 768px) {
        .feedback .list-feedbacks .feedback-item .item-shape .line::after {
          width: 30px;
          height: 30px; } }
      @media (min-width: 768px) and (max-width: 1600px) {
        .feedback .list-feedbacks .feedback-item .item-shape .line::after {
          width: 35px;
          height: 35px; } }

@media screen and (max-width: 1253px) {
  .feedback .list-feedbacks .feedback-item .item-text .std-name {
    font-size: 1rem; }
  .feedback .list-feedbacks .feedback-item .item-text .feedback-content {
    font-size: 0.5rem;
    font-weight: normal; } }
@media screen and (max-width: 500px) {
  .feedback .list-feedbacks .feedback-item .item-text .std-name {
    font-size: 1rem; }
  .feedback .list-feedbacks .feedback-item .item-text .feedback-content {
    font-size: 0.5rem;
    font-weight: normal; } }
@media screen and (max-width: 1000px) {
  .feedback .list-feedbacks .feedback-item .item-text {
    width: 223px; } }
.carousel-slick {
  margin: 100px 0;
  /* the slides */
  /* the parent */ }
  .carousel-slick .carousel {
    width: 80%;
    margin: auto; }
    .carousel-slick .carousel .course-item {
      position: relative;
      bottom: 0;
      margin: 50px 0;
      text-align: center;
      cursor: pointer;
      background-color: #f0c3c0;
      color: #230d0d;
      transition: 0.5s all ease-in-out;
      box-shadow: 0 20px 20px -15px rgba(48, 37, 20, 0.7);
      display: flex;
      border-top: 10px solid #fa6190;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      flex-grow: 2;
      width: 80%;
      display: inline-block;
      height: fit-content; }
      .carousel-slick .carousel .course-item img {
        width: 100%;
        height: auto; }
      .carousel-slick .carousel .course-item .detail {
        margin: 5px 20px;
        font-size: 1.2rem; }
        @media (min-width: 768px) and (max-width: 1600px) {
          .carousel-slick .carousel .course-item .detail {
            font-size: 1rem; } }
        @media (max-width: 479px) {
          .carousel-slick .carousel .course-item .detail {
            font-size: 0.5rem; } }
        @media (min-width: 479px) and (max-width: 768px) {
          .carousel-slick .carousel .course-item .detail {
            font-size: 0.5rem; } }
      .carousel-slick .carousel .course-item h3 {
        margin: 20px 0; }
        @media (min-width: 768px) and (max-width: 1600px) {
          .carousel-slick .carousel .course-item h3 {
            font-size: 1.5rem;
            margin: 10px 0; } }
        @media (max-width: 479px) {
          .carousel-slick .carousel .course-item h3 {
            font-size: 1rem;
            margin: 5px 0; } }
        @media (min-width: 479px) and (max-width: 768px) {
          .carousel-slick .carousel .course-item h3 {
            font-size: 1rem;
            margin: 5px 0; } }
      .carousel-slick .carousel .course-item .button-group-course {
        display: flex;
        justify-content: space-evenly;
        align-items: center; }
      .carousel-slick .carousel .course-item:hover {
        transition: 0.5s all ease-in-out;
        bottom: 20px; }
    .carousel-slick .carousel #next {
      background: 0 0;
      color: inherit;
      border: none;
      font: inherit;
      left: 0;
      font-size: 10rem;
      color: #fdfdfd9e; }
  .carousel-slick .slick-slide {
    margin: 0 20px; }
  .carousel-slick .slick-list {
    margin: 0; }

.footer .info {
  padding: 5px 20px;
  display: flex;
  align-items: center; }
  .footer .info p {
    margin: 0 !important;
    padding: 0 !important; }
  .footer .info i {
    margin-right: 10px; }
    .footer .info i.fa-facebook, .footer .info i.fa-linkedin {
      cursor: pointer;
      border: 1px solid #fa6190;
      padding: 15px;
      background-color: #fa6190;
      transition: 0.1s; }
      .footer .info i.fa-facebook:hover, .footer .info i.fa-linkedin:hover {
        transition: 0.1s all;
        border: 1px solid #fa6190;
        background-color: #230d0d;
        color: #fa6190; }
  .footer .info .phone-info {
    display: flex;
    align-items: center; }
  .footer .info .email-info {
    display: flex;
    align-items: center; }
    .footer .info .email-info p {
      transition: 0.5s; }
    .footer .info .email-info p:hover {
      color: #b51659;
      transition: all 0.5s ease-out;
      cursor: pointer; }
  .footer .info .info-left-side {
    display: flex;
    align-items: center; }
    .footer .info .info-left-side .phone-info {
      margin: 0 50px 0 0; }
  .footer .info .info-right-side {
    margin-left: auto; }

@media screen and (max-width: 1253px) {
  .carousel .course-item .button-group-course {
    display: block; } }
#map {
  border: 2px solid #230d0d;
  background-color: grey;
  padding: 15px; }

#contact {
  margin: 80px 0; }

form {
  width: 80%;
  display: flex;
  margin: 0 auto; }

.form-control {
  display: flex;
  flex-flow: column;
  width: 50%;
  justify-content: space-between;
  align-content: space-evenly; }

.form-control input,
textarea {
  margin: 10px;
  border: none;
  border-bottom: 2px solid #999999;
  background: #efefef;
  padding-left: 20px;
  color: #a1a19e;
  height: 190px; }

.form-control input {
  height: 50px; }

.form-control button.submit {
  height: 50px;
  border: none;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  margin: 10px 0; }

#footer {
  background-color: #dc5874;
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  height: 150px;
  align-items: center;
  color: #230d0d; }

#footer ul {
  margin-top: 20px;
  margin-bottom: 0px !important; }
#footer li {
  list-style-type: none; }
#footer a {
  color: #230d0d; }
  #footer a i.fa-facebook, #footer a i.fa-linkedin, #footer a i.fa-rss {
    cursor: pointer;
    border: 1px solid #fa6190;
    padding: 15px;
    background-color: #fa6190;
    transition: 0.1s; }
    #footer a i.fa-facebook:hover, #footer a i.fa-linkedin:hover, #footer a i.fa-rss:hover {
      transition: 0.1s all;
      border: 1px solid #fa6190;
      background-color: #230d0d;
      color: #fa6190; }

.backToTop {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 99;
  /* Make sure it does not overlap */ }

.backToTop .backToTopLink {
  font-size: 3rem;
  opacity: 0; }

.backToTop .cd-top--is-visible {
  visibility: visible;
  opacity: 0.5; }

.backToTop .cd-top--fade-out {
  opacity: 0.5; }

.backToTop a {
  color: black;
  cursor: pointer; }

@media screen and (max-height: 1253px) {
  .backToTop {
    display: block; } }

/*# sourceMappingURL=style.css.map */
