*{
 padding: 0;
 margin: 0;
}

html {
    font-size: 12px;
}

header #logo, #slogan {
    height: 70px;
}


#slogan {
float: right;
margin-right: 50px;
}

#menu-list {
    margin: 1rem 1rem;
}

#menu ul {
    list-style-type: none;
}
#menu ul li a {
 
   text-decoration: none;
   color: #5f5e5e;
   text-transform: uppercase;
   font-size: 1.5rem;
   font-weight: bold;
}

#menu ul {
    display: flex;
    justify-content: space-around;
}

#menu hr {
    height: 0.1rem;
    border-width: 0;
    color: #5f5e5e;
    background-color: #5f5e5e;
    opacity: 25%;
}

#intro-img {
    background-image: url(./images/slider_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    margin: 2rem 0.5rem;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-text {
    margin: 2rem 1rem;
}

.intro-text img.line{
    display: block;
    margin: auto;
    margin-bottom: 0.5rem;
}

.intro-text h3 {
    font-size: 3rem;
    text-align: center;
}

#intro .intro-text p {
    font-size: 2rem;
    text-align: center;
    margin: auto;
}


#program .program-item {
    float: left;
    margin-left: 2rem;
}

#program .program-title {
    color: brown;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#program .program-detail {
    font-size: 1.2rem;
}

#program .program-list {
    display: flex;
    justify-content: center;
}