$primary-back-ground: #ff4f81;
$second-back-ground: black;
// $third-back-ground: white;
// $primary-color: #f85180;
// $second-color: black;
// $third-color: white;
$title-1-font-weigh: 600;

$first-color: #b51659;
$second-color: #dc5874;
$third-color: #fa6190;
$fourth-color: #f0c3c0;
$five-color: #e68f9b;
$six-color: #230d0d;
$opacity-six-color: rgba(48, 37, 20, 0.7);
$white: white;
$black: black;


//size- media
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1600px;