@import "./helper/variable";
@import "./base/reset";
@import "./helper/mixin";
@import "./component/button";

@import "./component/header";
@import "./component/stat";
@import "./component/feedback.scss";

.carousel-slick {
  margin: 100px 0;

  .carousel {
    width: 80%;
    margin: auto;

    .course-item {
      position: relative;
      bottom: 0;
      margin: 50px 0;
      text-align: center;
      cursor: pointer;
      background-color: $fourth-color;
      color: $six-color;
      transition: 0.5s all ease-in-out;
      box-shadow: 0 20px 20px -15px $opacity-six-color;
      // float: none !important;
      // width: 50% !important;
      display: flex;

      border-top: 10px solid $third-color;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      flex-grow: 2;
      width: 80%;
      display: inline-block;
      height: fit-content;

      img {
        width: 100%;
        height: auto;
      }

      .detail {
        margin: 5px 20px;
        font-size: 1.2rem;

        @include tablet {
          font-size: 1rem;
        }

        @include mobile {
          font-size: 0.5rem;
        }
      }

      h3 {
        margin: 20px 0;

        @include tablet {
          font-size: 1.5rem;
          margin: 10px 0;
        }

        @include mobile {
          font-size: 1rem;
          margin: 5px 0;
        }
      }

      .button-group-course {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }

      &:hover {
        transition: 0.5s all ease-in-out;

        bottom: 20px;

        .button-group-course {
          .course-btn {
            padding: 20px 55px;
          }
        }
      }
    }

    #next {
      background: 0 0;
      color: inherit;
      border: none;
      font: inherit;
      left: 0;
      font-size: 10rem;
      color: #fdfdfd9e;
    }

    #next,
    #privious {
    }
  }

  /* the slides */
  .slick-slide {
    margin: 0 20px;
  }

  /* the parent */
  .slick-list {
    margin: 0;
  }
}

.footer {
  .info {
    @include styleContainer();
    @include flexCenter();

    p {
      margin: 0 !important;
      padding: 0 !important;
    }

    i {
      margin-right: 10px;

      &.fa-facebook,
      &.fa-linkedin {
        @include styleInfoHeader($third-color, $six-color);
      }
    }

    .phone-info {
      @include flexCenter();
    }

    .email-info {
      @include flexCenter();

      p {
        transition: 0.5s;
      }

      p:hover {
        color: $first-color;
        transition: all 0.5s ease-out;
        cursor: pointer;
      }
    }

    .info-left-side {
      @include flexCenter();

      .phone-info {
        margin: 0 50px 0 0;
      }
    }

    .info-right-side {
      margin-left: auto;
    }
  }
}

@media screen and (max-width: 1253px) {
  .carousel .course-item .button-group-course {
    display: block;
  }
}

#map {
  border: 2px solid $six-color;
  background-color: grey;
  padding: 15px;
}

#contact {
  margin: 80px 0;
}
form {
  width: 80%;
  display: flex;
  margin: 0 auto;
}
.form-control {
  display: flex;
  flex-flow: column;
  width: 50%;
  justify-content: space-between;
  align-content: space-evenly;
}
.form-control input,
textarea {
  margin: 10px;
  border: none;
  border-bottom: 2px solid #999999;
  background: #efefef;
  padding-left: 20px;
  color: #a1a19e;
  height: 190px;
}
.form-control input {
  height: 50px;
}
.form-control button.submit {
  height: 50px;
  border: none;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  margin: 10px 0;
}

#footer {
  background-color: $second-color;
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  height: 150px;
  align-items: center;
  color: $six-color;
}

#footer {
  ul {
    margin-top: 20px;
    margin-bottom: 0px !important;
  }
  li {
    list-style-type: none;
  }
  a {
    color: $six-color;
    i {
      &.fa-facebook,
      &.fa-linkedin,
      &.fa-rss {
        @include styleInfoHeader($third-color, $six-color);
      }
    }
  }
}

.backToTop {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 99; /* Make sure it does not overlap */
}

.backToTop .backToTopLink {
  font-size: 3rem;
  opacity: 0;
}

.backToTop .cd-top--is-visible {
  visibility: visible;
  opacity: 0.5;
}

.backToTop .cd-top--fade-out {
  opacity: 0.5;
}

.backToTop a {
  color: black;
  cursor: pointer;
}

@media screen and (max-height: 1253px) {
  .backToTop {
    display: block;
  }
}
