.course-btn {
  cursor: pointer;
  border: none;
  padding: 20px 50px;
  transition: 0.5s all ease-in-out;
  border-radius: 50px;
  color: $white;
  font-weight: bolder;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 30px 10px;

  @include tablet {
    font-weight: normal;
    margin: 20px 5px;
    padding: 5px 5px;
    font-size: 1rem;
  }

  @include mobile {
    font-weight: normal;
    margin: 10px 0px;
    padding: 5px 5px;
    font-size: 0.5rem;
  }

  background-image: linear-gradient(to right, $second-color, $first-color);

  &:hover {
    padding: 21px 51px;

    @include tablet {
      padding: 7px 7px;
    }

    @include mobile {
      padding: 6px 6px;
    }

    box-shadow: 0 20px 20px -15px $opacity-six-color;
    background-image: linear-gradient(to right, $five-color, $second-color);

    color: $six-color;
  }

  &:focus {
    outline: none;
  }
}
